@import '../core/variable';

/* The sidebar menu */
.sidenav {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  padding-top: 20px;

  ~ .page-content {
    margin-left: 80px;
  }

  &.left {
    left: 0;

    &.mini {
      width: 80px;
    }

    &.full {
      width: 300px;

      &.show {
        animation: slideInLeft; /* referring directly to the animation's @keyframe declaration */
        animation-duration: 0.1s;

        ~ .page-content {
          padding-left: 300px;
          animation: slideInLeft; /* referring directly to the animation's @keyframe declaration */
          animation-duration: 0.3s;
        }
      }

      &:not(.show) {
        animation: fadeOutLeft; /* referring directly to the animation's @keyframe declaration */
        animation-duration: 0.5s;

        ~ .page-content {
        }
      }
    }
  }

  &.right {
    right: 0;
  }
}
