<% datetime = local_assigns.fetch(:datetime, DateTime.now) %>
<div class="toast" role="alert" aria-live="assertive" aria-atomic="true">
  <div class="toast-header">
    <i class="fa-solid fa-triangle-exclamation me-2"></i>
    <strong class="me-auto">Alert</strong>
      <small class="text-muted"><time class="timeago" datetime="<%= datetime.iso8601 %>"></time></small>
    <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
  </div>
  <div class="toast-body">
    <%= message %>
  </div>
</div>