<h1>Editing channel member</h1>

<%= render "form", channel_member: @channel_member %>

<br>

<div>
  <%= link_to "Show this channel member", @channel_member %> |
  <%= link_to "Back to channel members", channel_members_path %>
</div>
