$facebook: #1877f2;
$linkedin: #0a66c2;
$twitter: #1da1f2;
$google: #ea4335;

.facebook {
  color: $facebook;
}

.linkedin {
  color: $linkedin;
}

.twitter {
  color: $twitter;
}

.google {
  color: $google;
}
